html {
	height: 100%;
}

body {
	background-color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
}

header {
	background-color:#96EC3F;
	backdrop-filter: saturate(180%) blur(20px);
	padding: 0.25em;
	border-bottom: 1px solid #0003;
}

nav {
	display: flex;
	align-items: center;
	color: #4a5568;
	max-width: 60rem;
	margin: 0 auto;
}

nav>a {
	margin: 0 1rem;
	display: block;
	text-decoration: none;
	color: inherit;
}

.logo {
	color: white;
	font-size: 2em;
}

.container {
    display: flex;
    grid-template-columns: 250px 1fr;
    height: 94vh;
}

.thread-list {
    width: 250px;
    border-right: 1px solid #ddd; 
    padding: 20px;
    overflow-y: auto; 
}

.thread-list h2 {
    margin-top: 0;
}

.thread {
    width: 250px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #aef864;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    color: #333333;
    z-index: 2;
    transition: background-color 0.3s ease;
}

.thread:hover {
    background-color: #abfd58;
}

.messages {
    max-height: 100vh;
    flex: 1;
    padding: 2rem 5rem;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

.messages .message:first-child {
    background-color: #e6f7ff;
}

.thread-header {
    background-color: hsla(90, 94%, 79%, 0.801);
    padding: 10px 20px;
    border: 2px solid #96EC3F;
    border-radius: 10px 10px 10px 10px;
}

.thread-header .logo {
    font-weight: bold;
    color: #333;
    text-decoration: none;
    font-size: 2rem;
}

.message {
    background-color: #fff;
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.message p {
    margin: 0; 
    font-size: 16px;
    line-height: 1.6;
    color: #333333;
}

.message p:first-child {
    margin-bottom: 10px; 
}

.message p:last-child {
    margin-bottom: 0; 
}

.author {
    font-weight: bold;
    color: #333333;
    margin-bottom: 10px;
}

.content {
    color: #555555;
}

.message-list {
    padding-left: 10rem;
    padding-right: 10rem;
    margin-top: 20px;
}


.new-thread-button {
    max-width: 240px;
    display: block;
    width: 100%;
    padding: 10px 0px 10px 10px;
    margin-bottom: 20px;
    background-color: #7ae013; 
    color: #ffffff; 
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.new-thread-button:hover {
    background-color: #85e723c2; 
}

.message-input-form {
    margin-top: 20px;
    display: flex;
}

.message-input-form input[type="text"] {
    flex: 1; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}

.message-input-form button {
    width: auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff; 
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.message-input-form button:hover {
    background-color: #96EC3F;
}

.modal-dialog {
    max-width: 600px;
}

.hidden {
    display: none;
}

#newThreadForm {
    max-width: 400px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}


button[type="submit"]:hover {
    background-color: #adf863;
}

.container_2 {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.create-thread-button {
    display: block;
    width: 100%;
    padding: 10px 0px 10px 10px;
    margin-bottom: 20px;
    background-color: #96EC3F; 
    color: #ffffff; 
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.delete-thread-circle {
    width: 20px;
    height: 20px;
    color: white;
    text-align: center;
    text-decoration: none;
    background-color: #ff6347;
    padding-bottom: 5px;
    border: none;
    cursor: pointer;
    z-index: 1;
}

.delete-thread {
    max-width: 48px;
    background-color: #ff6347;
    color: white; 
    padding: 10px 10px;
    margin-left: 5px;
    margin-bottom: 10px;
    border-radius: 10px; 
    z-index: 1; 
    cursor: pointer;
    display:flex;
    justify-content: center; 
    align-items: center;
    position: relative;
}

.thread-container {
    display: flex;
    flex-direction: row;
}
